@font-face {
	font-family: 'raph';
	src: url('../Styles/font/RaphLanokFuture.ttf') format("truetype"),
}
:root {
    --orange: #f1793c;
    --vert: #5dd29b;
    --jaune: #f1e469;
    --mauveClaire: #6c24dd;
    --mauveFonce: #1c043c;
    --rouge: #FF0000;
    --blue: #0000FF;
    --gray_light: #D3D3D3;
    --gray: #808080;
  }

.fontRaph{
    font-family: 'raph';
}
.doc{
    margin-top: 57px;
}

.centerimg{
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.titlePage{
    font-family: 'raph';
    font-size: 6em;
    color: #f1e469;
    padding-top: 150px;
    text-transform: capitalize
}
@media only screen and (max-width: 530px) {
    .titlePage{
        font-size: 5em;
    }
}
@media only screen and (max-width: 420px) {
    .titlePage{
        font-size: 4em;
    }
}
@media only screen and (max-width: 350px) {
    .titlePage{
        font-size: 3.2em;
    }
}
.centerImage{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px; 
}
.center{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.carrouselImage{
    height: 200px;
    max-width: 380px;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: 0.2s;
}
.carrouselImage:hover{
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.carrouselImage:active{
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.uniqImg{
    height: 400px;
    width: 100%;
}
.backgroundColor{
    /* background: linear-gradient(#f1793c, #6c24dd, #5dd29b); */
    /* background-image: linear-gradient(to bottom, #1c043c, #003b78, #006f9d, #00a2a4, #5dd29b); */
    /* background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%); */
    background: radial-gradient(circle at 0% 12%, #f1e469 5%, #6c24dd 25.5%, #5dd29b 62.3%);
}
.backgroundColorBox{
    background-color: #6b24dd2f;
}
.backgroundSat{
    -webkit-filter: saturate(50%);
    -moz-filter: saturate(50%);
    filter: saturate(50%);
    background-color: #ffffff17;
    transition: filter 0.3s ease;
}
.backgroundSat:hover{
    -webkit-filter: saturate(100%);
    -moz-filter: saturate(100%);
    filter: saturate(100%);
    background-color: #ffffff00;
}
.btnRetour{
    position: absolute;
}

/* style pour la page de connexion */
.formRegLog{
    max-width: 1000px;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.formRegLog label {
    color: white;
}
.formRegLog input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}
.formRegLog input:focus {
    border-color: var(--jaune);
    outline: none;
    box-shadow: 0 0 5px var(--jaune);
}
.formRegLog button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--vert);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.formRegLog button:hover {
    background-color: #4cae4c;
}
.formRegLog span {
    color: var(--orange);
    font-weight: bold;
    margin-left: 10px;
}
.formRegLog p {
    color: white;
}

/* style pour le carousel devenement */
.hotelImage{
    height: 400px;
}
.slider {
    display: flex;
    max-height: auto;
    overflow-y: hidden;
    overflow-x: scroll !important;
    padding-bottom: 16px;
    padding-top: 16px;
    transform: scroll(calc(var(--i,0)/var(--n)*-100%));
    scroll-behavior: smooth;
    transition: 0.5s;
}
.slider::-webkit-scrollbar {
    height: 5px;
    width: 150px;
    display: none;
}
.slider::-webkit-scrollbar-track {
    background: transparent;
}
.slider::-webkit-scrollbar-thumb {
    background: #888;
}
.slider::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.slide {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}
.slide:hover {
    transform: scale(1.03);
}
.slide p {
    width: 250px;
    margin: 0 10px;
    object-fit: cover;
}
.control-prev-btn {
    position: absolute;
    margin-top:150px; 
    left: 0;
    background-color: rgba(255,255,255,0.55);
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
    user-select: none;
    color: #444;
    cursor: pointer;
    z-index: 5;
}
.control-next-btn {
    position: absolute;
    margin-top:150px; 
    right: 0;
    background-color: rgba(255,255,255,0.55);
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
    user-select: none;
    color: #444;
    cursor: pointer;
    z-index: 5;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.45);
    top: 0;
    display: none;
}
.overlay.active{
    display: block;
}
@media only screen and (max-width: 480px) {
    .slider {
        padding: 0;
    }
    .slide {
        padding: 16px 10px;
    }
    .slide img {
        margin: 0;
    }
    .control-prev-btn {
        display: none;
    }
    .control-next-btn {
        display: none;
    }
}

/* style pour la page billetterie */
.billet{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    filter: saturate(70%);
    border-radius: 7px;
    margin-top: 20px;
    transition: all 0.3s, box-shadow 0.3s, background 0.3s;
}
.billet:hover{
    box-shadow: 0 0 13px rgba(0, 0, 0, 1);
    transform: scale(1.02);
    filter: saturate(110%);
}
.imgBillet{
    height: 200px;
}

/* Style pour le programme */
.btnFiltre{
    width: fit-content;
}
.cardProgramme{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}
.cardProgramme:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.journe1 {
    background-color:  #fe9a8b;
}
.journe2 {
    background-color:  #8fd3f4;
}
.journe3 {
    background-color:  #d57eeb;
}
.listContainer{
    display: flex;
    justify-content: space-between;
}
.ContainerlisteArtiste{
    width: 90%;
    background-color: #ffffff2c;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3)
}
.listeArtiste{
    display: flex;
    width: fit-content;
}
.progCard{
    height: 200px;
    min-width: 170px;
    width: 170px;
}
.ContainerBtnProgListe{
    width: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.btnProgListe{
    height: 40px;
    background-color: rgba(255, 255, 255, 0.27);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    cursor: pointer;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
    border-radius: 50%;
    transition: 0.2s;
    user-select: none;
}
.btnProgListe:active{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}
.scrollx {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollx::-webkit-scrollbar {
    display: none; 
}
/* .scrollx{
    overflow-x: auto;
}
.scrollx::-webkit-scrollbar{
    background: transparent;
    border-radius: 100vh;
}

.scrollx:hover::-webkit-scrollbar-thumb{
    background: hsl(300 45% 50% /1);
    border: .17em solid hsl(250 45% 50% /1);
    border-radius: 100vh;
} */

/* style pour la page actualité */
.cardArticle{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}
.cardArticle:hover{
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.imgArticle{
    height: 200px;
}
.titleArticle{
    /* height: 80px; */
    /* overflow: hidden; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em; /* Ajustez la hauteur de ligne si nécessaire */
    max-height: calc(3 * 1.5em); 
}
.contentArticle{
    overflow:hidden;
    height: 50px;
}
/* Style pour les commentaire */
.commentsSection {
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.commentsSectionTitre{
    color: var(--orange);
    margin-bottom: 20px;
}
.contenaireCommentaire {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.commentaireAutor {
    font-weight: bold;
    color: var(--blue);
    margin-bottom: 5px;
}

.commentaireContent {
    color: var(--mauveClaire);
    line-height: 1.6;
}

@media (max-width: 600px) {
    .commentsSection {
        padding: 10px;
    }

    .contenaireCommentaire {
        padding: 10px;
    }
}

/* style pour la page sponsors */
.sponsorContainer{
    width: 80%;
    margin: auto;
}
.sponsor{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    -webkit-filter: saturate(70%);
    -moz-filter: saturate(70%);
    filter: saturate(70%);
    transition: all 0.3s, box-shadow 0.3s, background 0.3s;
    margin-top: 10px;
}
.sponsor:hover{
    transform: scale(1.01);
    -webkit-filter: saturate(110%);
    -moz-filter: saturate(110%);
    filter: saturate(110%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
.sponsorName{
    font-size: 3.5em;
    font-family: 'raph';
}
@media only screen and (max-width: 480px) {
    .sponsorName{
        font-size: 2.5em;
    }
}
.imgSponsor{
    height: 200px;
    width: 200px;
}
@media only screen and (max-width: 480px) {
    .imgSponsor{
        height: 130px;
        width: 130px;
    }
}
/* style pour la page d'artiste */
.centerImageArtiste{
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
/* style pour le footer */
#logoFooter{
    height: 80px;
    width: 80px;
}
.reaseauFooter{
    height: 50px;
    width: 50px;
}
#downFooter{
    background-color: white;
}
/* Style pour la page artiste */
.titleA{
    font-family: 'raph';
    font-size: 6em;
    color: white;
    padding-top: 30px;
}
.imgA{
    height: 200px;
}


/* Style pour le formulaire de contact */
.image{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    -webkit-filter: saturate(70%);
    -moz-filter: saturate(70%);
    filter: saturate(70%);
    transition: all 0.3s, box-shadow 0.3s, background 0.3s;
}
.image:hover{
    transform: scale(1.02);
    -webkit-filter: saturate(110%);
    -moz-filter: saturate(110%);
    filter: saturate(110%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
}
.containerRequestForm{
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
  }
  
.contact-form .form-group {
    margin-bottom: 15px;
  }
  
.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }
  
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
.contact-form input[type="submit"] {
    background: var(--vert);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    transition: background 0.3s;
  }
  
.contact-form input[type="submit"]:hover {
    background: #4cae4c;
}
.textModal h5{
    color: var(--vert);
}
.textModal p{
    color: var(--mauveClaire);
}

.textModal button{
    background: var(--vert);
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 4px;
    transition: background 0.3s;
}
.textModal button:hover{
    background: #4cae4c;
}

/* Style pour les modal */
.modalConnect h5 {
    color: var(--orange);
}
.modalConnect label {
    color: var(--mauveFonce);
    font-weight: bold;
}
.textModal .btnClose {
    background-color: var(--gray_light);
}
.textModal .btnClose:hover {
    background-color: var(--gray);
    color: var(--gray_light);
}
.modalImageShow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.modalImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageShow {
    z-index: 150;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}
.modalImageBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
.modalImageNone{
    display: none;
}
.closeImage{
    font-size: 3em;
    position: absolute;
    top: 3em;
    right: 25px;
    z-index: 500;
}
