/****************************************************** style généraux ***************************************************/
@font-face {
	font-family: 'raph';
	src: url('../Styles/font/RaphLanokFuture.ttf') format("truetype"),
}
:root {
    --orange: #f1793c;
    --vert: #5dd29b;
    --jaune: #f1e469;
    --mauveClaire: #6c24dd;
    --mauveFonce: #1c043c;
    --rouge: #FF0000;
    --blue: #0000FF;
    --gray_light: #D3D3D3;
    --gray: #808080;
}
.fontRaph{
    font-family: 'raph';
}
.doc{
    padding-top: 50px;
}
.centerimg{
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.titlePage{
    font-family: 'raph';
    font-size: 6em;
    color: #f1e469;
    padding-top: 150px;
    text-transform: capitalize
}
@media only screen and (max-width: 530px) {
    .titlePage{
        font-size: 5em;
    }
}
@media only screen and (max-width: 420px) {
    .titlePage{
        font-size: 4em;
    }
}
@media only screen and (max-width: 350px) {
    .titlePage{
        font-size: 3.2em;
    }
}
.centerImage{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px; 
}
.center{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.carrouselImage{
    height: 200px;
    max-width: 380px;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: 0.2s;
}
.carrouselImage:hover{
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.carrouselImage:active{
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.uniqImg{
    height: 400px;
    width: 100%;
}
.backgroundColor{
    /* background: linear-gradient(#f1793c, #6c24dd, #5dd29b); */
    /* background-image: linear-gradient(to bottom, #1c043c, #003b78, #006f9d, #00a2a4, #5dd29b); */
    /* background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%); */
    background: radial-gradient(circle at 0% 12%, #f1e469 5%, #6c24dd 25.5%, #5dd29b 62.3%);
}
.backgroundColorBox{
    background-color: #6b24dd2f;
}
/****************************************************** style pour les buttons */
.btnPrimary{
    color: white;
    background-color: var(--mauveFonce);
    padding: 10px 17px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    border:none;
    transition: 0.1s
}
.btnPrimary:hover{
    transform: scale(1.01);
}
.btnChoice{
    color: white;
    background-color: var(--vert);
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100px;
}
.ContainerBtnChoiceGroupe{
    margin: auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: fit-content;
}
.btnChoiceGroupe{
    color: white;
    background-color: var(--vert);
    padding: 10px;
    border: none;
    width: 100px;
    display: flex;
    transition: 0.3s;
    cursor: pointer;
}
.btnChoiceGroupe:hover{
    background-color: #099654;
}
.btnChoiceGroupe:active{
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.btnChoiceGroupe:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btnChoiceGroupe:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btnClose{
    color: white;
    background-color: var(--orange);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100px;
    transition: 0.3s;
}
.btnClose:hover{
    background-color: #e85e19;
}
.btnClose:active{
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.btnRetour{
    position: absolute;
}
/************************************************** Style pour la barre de navigation ***************************************/
.navBar{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: var(--jaune);
    z-index: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
}
.navBar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}
.navBar .home{
    display: flex;
    align-items: center;
}
.navBar .home .logo{
    border-radius: 5px;
}
.navBar .home h1{
    font-size: 1.2em;
    margin-bottom: 0;
    margin-left: 10px;
    font-weight: bold;
}
.navBar .menu{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1em;
    list-style: none;
    text-decoration: none;
    margin-bottom: 0;
}
.navBar .menu .btnProg {
    display: flex;
    gap: 0.3em;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0;
}
.navBar .menu .btnProg p {
    margin-bottom: 0;
}
.navBar .menu .progMenu{
    background-color: var(--jaune);
    top: 65px;
    position: absolute;
    list-style: none;
    padding: 1em;
}
.navBar .btnUser{
    background-color: transparent;
    border: none;
}
.navBar .boxAuthMenu{
    position: absolute;
    top: 60px;
    right: 0;
    color: white;
    font-weight: bold;
}
.navBar .authMenu{
    background-color: var(--jaune);
    color: white;
    font-weight: bold;
}
.navBar .authMenu ul{
    list-style: none;
    padding: 0.7em 2em 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.navBar .btnBurgeur{
    display: none;
    background-color: transparent;
    border: none;
}
.boxPhoneMenu{
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    z-index: 700;
}
.phoneMenu{
    background-color: var(--jaune);
    list-style: none;
    padding-top: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-bottom: 1em;
}

@media (max-width: 990px) {
    .navBar .menu, .btnUser{
        display: none;
    }
    .navBar .btnBurgeur{
        display: block;
    }
}
@media (min-width: 990px) {
    .phoneMenu{
        display: none;
    }
}

/**************************************************** Style pour la page d'acceuil ****************************************/
/* style pour la page de connexion */
.formRegLog{
    max-width: 1000px;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.formRegLog label {
    color: white;
}
.formRegLog input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}
.formRegLog input:focus {
    border-color: var(--jaune);
    outline: none;
    box-shadow: 0 0 5px var(--jaune);
}
.formRegLog button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--vert);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.formRegLog button:hover {
    background-color: #4cae4c;
}
.formRegLog span {
    color: var(--orange);
    font-weight: bold;
    margin-left: 10px;
}
.formRegLog p {
    color: white;
}

/* style pour le carousel devenement */
.hotelImage{
    height: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}
.hotelImage:hover{
    transform: scale(1.03);
}
.hotelImage p {
    width: 250px;
    margin: 0 10px;
    object-fit: cover;
}
.slider::-webkit-scrollbar {
    height: 5px;
    width: 150px;
    display: none;
}
.slider::-webkit-scrollbar-track {
    background: transparent;
}
.slider::-webkit-scrollbar-thumb {
    background: #888;
}
.slider::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/***************************************** style pour la page billetterie ***********************************************/
.billet{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    filter: saturate(70%);
    border-radius: 7px;
    margin-top: 20px;
    transition: all 0.3s, box-shadow 0.3s, background 0.3s;
}
.billet:hover{
    box-shadow: 0 0 13px rgba(0, 0, 0, 1);
    transform: scale(1.02);
    filter: saturate(110%);
}
.imgBillet{
    height: 200px;
}

/*************************************************** Style pour le programme ***********************************************/
.btnFiltre{
    width: fit-content;
}
.cardProgramme{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}
.cardProgramme:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.journe1 {
    background-color:  #fe9a8b;
}
.journe2 {
    background-color:  #8fd3f4;
}
.journe3 {
    background-color:  #d57eeb;
}
.listContainer{
    display: flex;
    justify-content: space-between;
}
.ContainerlisteArtiste{
    width: 90%;
    background-color: #ffffff2c;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3)
}
.listeArtiste{
    display: flex;
    width: fit-content;
}
.progCard{
    height: 200px;
    min-width: 170px;
    width: 170px;
}

/************************************************ style pour la page actualité *******************************************/
.cardArticle{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}
.cardArticle:hover{
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.imgArticle{
    height: 200px;
}
.titleArticle{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    max-height: calc(3 * 1.5em); 
}
.contentArticle{
    overflow:hidden;
    height: 50px;
}
/*********************************** Style pour les commentaire */
.commentsSection {
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.commentsSectionTitre{
    color: var(--orange);
    margin-bottom: 20px;
}
.contenaireCommentaire {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}
.commentaireAutor {
    font-weight: bold;
    color: var(--blue);
    margin-bottom: 5px;
}
.commentaireContent {
    color: var(--mauveClaire);
    line-height: 1.6;
}
@media (max-width: 600px) {
    .commentsSection {
        padding: 10px;
    }

    .contenaireCommentaire {
        padding: 10px;
    }
}

/************************************************* style pour la page sponsors *******************************************/
.sponsorContainer{
    width: 80%;
    margin: auto;
}
.sponsor{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    -webkit-filter: saturate(70%);
    -moz-filter: saturate(70%);
    filter: saturate(70%);
    transition: all 0.3s, box-shadow 0.3s, background 0.3s;
    margin-top: 10px;
}
.sponsor:hover{
    transform: scale(1.01);
    -webkit-filter: saturate(110%);
    -moz-filter: saturate(110%);
    filter: saturate(110%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
.sponsorName{
    font-size: 3.5em;
    font-family: 'raph';
}
@media only screen and (max-width: 480px) {
    .sponsorName{
        font-size: 2.5em;
    }
}
.imgSponsor{
    height: 200px;
    width: 200px;
}
@media only screen and (max-width: 480px) {
    .imgSponsor{
        height: 130px;
        width: 130px;
    }
}

/*************************************************** style pour la page d'artiste *************************************/
.centerImageArtiste{
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.titleA{
    font-family: 'raph';
    font-size: 6em;
    color: white;
    padding-top: 30px;
}
.imgA{
    height: 200px;
}


/************************************************ Style pour le formulaire de contact *************************************/
.image{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    -webkit-filter: saturate(70%);
    -moz-filter: saturate(70%);
    filter: saturate(70%);
    transition: all 0.3s, box-shadow 0.3s, background 0.3s;
}
.image:hover{
    transform: scale(1.02);
    -webkit-filter: saturate(110%);
    -moz-filter: saturate(110%);
    filter: saturate(110%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
}
.containerRequestForm{
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
}
.contact-form .form-group {
    margin-bottom: 15px;
}  
.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: white;
}  
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}  
.contact-form input[type="submit"] {
    background: var(--vert);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    transition: background 0.3s;
}  
.contact-form input[type="submit"]:hover {
    background: #4cae4c;
}
.textModal h5{
    color: var(--vert);
}
.textModal p{
    color: var(--mauveClaire);
}
.textModal button{
    background: var(--vert);
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 4px;
    transition: background 0.3s;
}
.textModal button:hover{
    background: #4cae4c;
}

/*************************************************** Style pour la ScrollBox *******************************************/
.ContainerProgramme{
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    gap: 10px;
}
.ContainerProgramme::-webkit-scrollbar{
    display: none;
}
.ContainerBtnProgListe{
    width: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 150;
}
.btnProgListe{
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.27);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
    border-radius: 50%;
    transition: 0.2s;
    user-select: none;
}
.btnProgListe:active{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}
.scrollx {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
}
.scrollx::-webkit-scrollbar {
    display: none; 
}
.liste{
    display: flex;
}
/********************************************************* Style pour les modal ***************************************/
.modalConnect h5 {
    color: var(--orange);
}
.modalConnect label {
    color: var(--mauveFonce);
    font-weight: bold;
}
.textModal .btnClose {
    background-color: var(--gray_light);
}
.textModal .btnClose:hover {
    background-color: var(--gray);
    color: var(--gray_light);
}
.modalImageShow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.modalImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageShow {
    z-index: 150;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}
.modalBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
.modalImageNone{
    display: none;
}
.closeImage{
    font-size: 3em;
    position: absolute;
    top: 3em;
    right: 25px;
    z-index: 500;
}
.modalProgrammeShow{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalProgrammeContainer{
    position: absolute;
    z-index: 150;
    height: 570px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.modalProgramme{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.769);
    border-radius: 10px;
    color: var(--mauveFonce);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.modalProgrammeImage{
    height: 30%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.modalProgrammeArticle{
    height: 60%;
    width: 100%;
}
.scrollingContainer{
    display: flex;
    justify-content: space-between;
}
.scrollingBtn{
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.27);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
    border-radius: 50%;
    transition: 0.2s;
    user-select: none;
}
.scrollingBtn:active{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}
.scrollingBox{
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
}
.scrollingBox::-webkit-scrollbar{
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/*****************************************************Style pour la map***************************************************/
.boxEntrer{
    background: radial-gradient(circle at 0% 12%, #f1e469 5%, #6c24dd 25.5%, #5dd29b 62.3%);
    border-radius: 10px;
    box-shadow:0 0 15px rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*************************************************** style pour le footer ************************************************/
#logoFooter{
    height: 80px;
    width: 80px;
}
.reaseauFooter{
    height: 50px;
    width: 50px;
}
#downFooter{
    background-color: white;
}
